<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CodeForBreakfast</display-name>
  <welcome-file-list>
  	<welcome-file>home</welcome-file>  
  </welcome-file-list>
  
  		<!-- <error-page> 
  			<error-code>404</error-code> 
	   	 	<location>/errorPage.jsp</location>
		</error-page>
		
		<error-page> 
	  		<error-code>500</error-code>
	  		<location>/errorPage.jsp</location>
		</error-page> -->
		 
		   
		<error-page>
			<exception-type>java.lang.Throwable</exception-type>
		    <location>/errorPage.jsp</location>
	   </error-page>
		
 		 <servlet>
			<servlet-name>LoginServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.LoginServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>LoginServlet</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>LogoutServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.LogoutServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>LogoutServlet</servlet-name>
			<url-pattern>/logout</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>SignUpServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.SignUpServlet</servlet-class>
		</servlet>
		
		<servlet-mapping> 
			<servlet-name>SignUpServlet</servlet-name>
			<url-pattern>/signUp</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>RemovePostServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.RemovePostServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>RemovePostServlet</servlet-name>
			<url-pattern>/removePost</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>RemovePostFromArticleSectionServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.RemovePostFromArticleSectionServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>RemovePostFromArticleSectionServlet</servlet-name>
			<url-pattern>/removePostFromArticle</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>AddPostServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.AddPostServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>AddPostServlet</servlet-name>
			<url-pattern>/addPost</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>AddConferenceServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.AddConferenceServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>AddConferenceServlet</servlet-name>
			<url-pattern>/addConference</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>MoveUpServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.MoveUpServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>MoveUpServlet</servlet-name>
			<url-pattern>/moveUpPost</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>MoveUpFromArticleSectionServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.MoveUpFromArticleSectionServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>MoveUpFromArticleSectionServlet</servlet-name>
			<url-pattern>/moveUpFromArticlePost</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>MoveDownServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.MoveDownServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>MoveDownServlet</servlet-name>
			<url-pattern>/moveDownPost</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>MoveDownFromArticleSectionServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.MoveDownFromArticleSectionServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>MoveDownFromArticleSectionServlet</servlet-name>
			<url-pattern>/moveDownFromArticlePost</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>RemoveConferenceServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.RemoveConferenceServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>RemoveConferenceServlet</servlet-name>
			<url-pattern>/removeConference</url-pattern>
		</servlet-mapping>
		
		 <servlet>
			<servlet-name>RemoveConferenceFromConferenceSectionServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.RemoveConferenceFromConferenceSectionServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>RemoveConferenceFromConferenceSectionServlet</servlet-name>
			<url-pattern>/removeConferenceFromConference</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>OnScreenServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.OnScreenServlet</servlet-class>
		</servlet>
		
		<servlet-mapping> 
			<servlet-name>OnScreenServlet</servlet-name>
			<url-pattern>/onScreen</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>OnScreenCloseServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.OnScreenCloseServlet</servlet-class>
		</servlet>
		
		<servlet-mapping> 
			<servlet-name>OnScreenCloseServlet</servlet-name>
			<url-pattern>/onScreenClose</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>LoadArticlesByPageServlet</servlet-name>
			<servlet-class>com.protom.codeforbreakfast.servlets.LoadArticlesByPageServlet</servlet-class>
		</servlet>
		
		<servlet-mapping> 
			<servlet-name>LoadArticlesByPageServlet</servlet-name>
			<url-pattern>/loadArticles</url-pattern>
		</servlet-mapping>
		
		<servlet>
     		<servlet-name>ArticlesServlet</servlet-name>
     		<servlet-class>com.protom.codeforbreakfast.servlets.ArticlesServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>ArticlesServlet</servlet-name>
	    	<url-pattern>/articles</url-pattern>
		</servlet-mapping>
		
		<servlet>
     		<servlet-name>ConferencesServlet</servlet-name>
     		<servlet-class>com.protom.codeforbreakfast.servlets.ConferencesServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>ConferencesServlet</servlet-name>
	    	<url-pattern>/conferences</url-pattern>
		</servlet-mapping>
		
		<servlet>
     		<servlet-name>ViewConferenceServlet</servlet-name>
     		<servlet-class>com.protom.codeforbreakfast.servlets.ViewConferenceServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>ViewConferenceServlet</servlet-name>
	    	<url-pattern>/conference</url-pattern>
		</servlet-mapping>
		

		
		<!--  JSP mapping  -->
		 <servlet>
     		<servlet-name>Home</servlet-name>
     		<jsp-file>/index.jsp</jsp-file>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>Home</servlet-name>
	    	<url-pattern>/home</url-pattern>
		</servlet-mapping>
		
		
		
		
		<servlet>
     		<servlet-name>Membership</servlet-name>
     		<jsp-file>/membership.jsp</jsp-file>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>Membership</servlet-name>
	    	<url-pattern>/membership</url-pattern>
		</servlet-mapping>
		
		<servlet>
     		<servlet-name>Contact</servlet-name>
     		<jsp-file>/contacts.jsp</jsp-file>
		</servlet>
		
		<servlet-mapping>
	     	<servlet-name>Contact</servlet-name>
	    	<url-pattern>/contact</url-pattern>
		</servlet-mapping> 

</web-app>